{% extends "mpa/base.html" %}
{% load humanize %}

{% block title %}{{ issue }} • {{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'project_detail' project.id %}">
        {{ project.name | truncatechars:40 }}
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'issue_list' project.id %}">
        Issues
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ issue }}
</li>
{% endblock breadcrumb%}

{% block header %}
<div class="page-header">
    {% if issue.name %}
        {{ issue.name }}
    {% endif %}
</div>
{% endblock header %}

{% block header-buttons %}
    <button href="#" class="btn btn-outline-secondary me-1">
        <i class="bi bi-pencil"></i> Edit
    </button>
    <button href="#" class="btn btn-outline-secondary me-1">
        <i class="bi bi-x-lg"></i> Mute
    </button>
    <button href="#" class="btn btn-success">
        <i class="bi bi-check-lg"></i> Resolve
    </button>
{% endblock header-buttons %}

{% block subheader %}
<div class="text-muted mb-2">
<span class="badge rounded-pill bage-bg-{{ issue.get_status_display|lower }}">
        {{ issue.get_status_display }}
</span>
    {% with count=issue.example_count %}{% if count %}{{ count | intcomma }}{% else %}No{% endif %} example{{ count | pluralize }}{% endwith %}
    • First seen {{ issue.created_at | naturaltime }}
    • Last seen {{ issue.updated_at | naturaltime }}
</div>
{% endblock subheader %}

{% block tabs %}
<ul class="nav topnav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Examples</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Comments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Labeling</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Similar Issues</a>
    </li>


</ul>
{% endblock tabs %}

{% block main %}
{% include 'mpa/example/list_main.html' %}
{% endblock main %}