{% extends "mpa/base.html" %}
{% block title %}Example — {{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'project_detail' project.id %}" class="link-dark text-decoration-none">
        {{ project.name | truncatechars:32 }}
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'example_list' project.id %}" class="link-dark text-decoration-none">
        Issues
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ issue }}</li>
{% endblock breadcrumb%}

{% block main %}
<p>Hello, {{ issue }}!</p>
{% endblock main %}