{% extends "mpa/issue/detail_base.html" %}
{% load crispy_forms_tags %}

{% block tabs %}
<ul class="nav topnav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
            Examples 
        </a>
    </li>
</ul>
{% endblock tabs %}

{% block main %}
<div class="row" class="mx-0">
    <form method="get" novalidate>
        <div class="row align-items-end">
            <div style="width: 300px; z-index: 100;">
                {{ filter.form.timestamp | as_crispy_field }}
            </div>
            <div class="col">
                {{ filter.form.search | as_crispy_field }}
            </div>
        </div>
    </form>
</div>
<div class="row">
{% if examples_page %}
    <div style="width: 300px">
        {% include 'mpa/issue/detail_panel.html' %}
    </div>
    <div class="col">          
        {% include 'mpa/example/list_main.html' with page=examples_page total_count=example_count random_search=random_search%}
    </div>
{% else %}
<p class="text-center">
{% if filter.search_error_message %}
<span class="text-danger">
{{ filter.search_error_message }}
</span>
{% else %}
No examples found.
{% endif %}
</p>
{% endif %}
</div>
{% endblock main %}
