{% load crispy_forms_tags %}

<form action="{% url 'issue_edit' project.id issue.id %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">
          {{ form.name | as_crispy_field }}
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary mb-3"><i class="bi bi-check-lg"></i> Save</button>
        <a href="{% url 'issue_detail' project.id issue.id %}" class="btn btn-outline-secondary mb-3"><i class="bi bi-x-lg"></i> Cancel</a>
      </div>
    </div>
</form>
