{% extends "mpa/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Issues • {{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item" ><a href="{% url 'project_detail' project.id %}">{{ project.name | truncatechars:40 }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Issues</li>
{% endblock breadcrumb%}

{% block header %}
<div class="page-header">{{ project.name }}</div>
{% endblock header %}

{% block header-buttons %}
    <a href="{% url 'project_settings' project.id %}" class="btn btn-outline-primary">
        <i class="bi bi-sliders2"></i> Settings
    </a>
{% endblock header-buttons %}


{% block tabs %}
<ul class="nav topnav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Issues</a>
    </li>
</ul>
{% endblock tabs %}


{% block main %}
<div class="container-limited mx-auto">
    <form method="get" novalidate>
        <div class="row align-items-end">
          <div class="col">
              {{ filter.form.name | as_crispy_field }}
          </div>
          <div class="col-md-2">
            {{ filter.form.examples__gte | as_crispy_field }}
          </div>
          <div class="col-md-2">
            {{ filter.form.order | as_crispy_field }}
          </div>
          <div class="col-lg-1">
            <button type="submit" class="btn btn-primary mb-3" style="width: 100%">Apply</button>
          </div>
        </div>
      </form>
    

{% if filter.qs %}
<ul class="list-group">
    {% for issue in filter.qs %}
    <li class="list-group-item d-flex flex-column list-group-item-action">
        <a href="{% url 'issue_detail' project.id issue.id %}" class="fs-5 text-decoration-none stretched-link">
            {{ issue }}
            {% if issue.name %}
                {{ issue.name }}
            {% endif %}
        </a>
        <small class="text-muted">
            <span class="badge rounded-pill bage-bg-{{ issue.get_status_display | lower }}">
                {{ issue.get_status_display }}
            </span>
           {% with count=issue.examples %}{% if count %}{{ count | intcomma }}{% else %}No{% endif %} example{{ count | pluralize }}{% endwith %}
            • First seen {{ issue.created_at | naturaltime }}
            • Last seen {{ issue.updated_at | naturaltime }}
        </small>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>
    No issues found.
</p>
{% endif %}
</div>

{% endblock main %}

