{% extends "mpa/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Issues • {{ project.name }}{% endblock title %}


{% block breadcrumb %}
<li class="breadcrumb-item" ><a href="{% url 'project_detail' project.id %}">{{ project.name | truncatechars:40 }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Issues</li>
{% endblock breadcrumb%}


{% block header %}
<div class="page-header">
    {% if project.is_archived %}
        <span class="badge bg-secondary">Archived</span>
    {% endif %}
    {{ project.name }}
</div>
{% endblock header %}


{% block header-buttons %}
    <a href="{% url 'project_settings' project.id %}" class="btn btn-outline-primary">
        <i class="bi bi-sliders2"></i> Settings
    </a>
{% endblock header-buttons %}

{% block tabs %}
<ul class="nav topnav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
            Issues 
        </a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="#">
            Metrics 
        </a>
    </li>
    -->
</ul>
{% endblock tabs %}


{% block main %}
<div class="container-limited mx-auto">
    <form method="get" novalidate>
        <div class="row align-items-end">
            <div class="col">
                {{ filter.form.name | as_crispy_field }}
            </div>
            <!--
            <div class="col-md-2">
                {{ filter.form.examples__gte | as_crispy_field }}
            </div>
            -->
            <div class="col-md-2">
                {{ filter.form.status | as_crispy_field }}
            </div>    
            <div class="col-md-2">
                {{ filter.form.order | as_crispy_field }}
            </div>
        </div>
    </form>
    

{% if filter.qs %}
<ul class="list-group">
    <li class="list-group-item list-group-item-action bg-light"> 
        <div class="row">
            <!--
            <div class="p-1" style="width: 1.5rem">
                <input class="form-check-input" type="checkbox" value="" >
            </div>
            -->
            <div class="col px-2 d-flex align-items-center">
                <small>
                    Issue
                </small>
                <!--
                <small class="me-3">
                    No issues selected
                </small>

                <small>
                    <button href="#" class="btn btn-sm btn-success me-1" disabled>
                        <i class="bi bi-check-lg"></i> Resolve
                    </button>

                    <button href="#" class="btn btn-sm btn-outline-primary me-1" disabled>
                        <i class="bi bi-x-lg"></i> Mute
                    </button>

                    <button href="#" class="btn btn-sm btn-outline-primary me-1" disabled>
                        <i class="bi bi-files"></i> Merge
                    </button>
                </small>
                -->
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center">
                <small>Examples</small>
            </div>
    </li>
    {% for issue in filter.qs %}
    <li class="list-group-item list-group-item-action"> 
        <div class="row">
            <!--
            <div class="p-1" style="width: 1.5rem;">
                <input class="form-check-input" type="checkbox" value="" >
            </div>
            -->
            <div class="col px-2">
                <a href="{% url 'issue_detail' project.id issue.id %}" class="fs-5 text-decoration-none">
                    {{ issue }}
                    {% if issue.name %}
                        {{ issue.name }}
                    {% endif %}
                </a>
                <br/>
                <small class="text-muted">
                    <span class="badge bage-bg-{{ issue.get_status_display | lower }}">
                        {{ issue.get_status_display }}
                    </span>
                    {% if issue.last_seen %}
                    First seen {{ issue.first_seen | naturaltime }}
                    • Last seen {{ issue.last_seen | naturaltime }}
                    {% endif %}
                </small>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-end">
                <strong class="mx-3">{{ issue.examples | intcomma }}</strong>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>
    No issues found.
</p>
{% endif %}
</div>
{% endblock main %}

