{% load utils %}

<div class="mb-4">
{% for key, value in tag_count.items %}
<div class="mb-2">
<small style="font-weight: 500">{{ key }}</small>
<div class="d-flex progress">
    {% for x in value %}
    <a href="{% query_string request.GET search=x.search page=1 %}" style="width: {{x.share}}%">
        <div style="background: {{ x.color }}; padding: 0; margin: 0;"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-original-title="{{cell.tooltip}}" 
            title="{{ x.value }}: {{x.share | floatformat:0}}%"
        >
            &nbsp;
        </div>
    </a>
    {% endfor %}
</div>
<div class="d-flex flex-wrap">
    {% for x in value %}
    <small class="me-2">
        <a href="{% query_string request.GET search=x.search page=1 %}" style="color: rgb(33, 37, 41)">
            <span style="color: {{x.color}}">■</span> {{ x.value }} <span class="text-muted">{{x.share | floatformat:0}}%</span>
        </a>
    </small>
    {% endfor %}
</div>
</div>
{% endfor %}
</div>
