{% extends "mpa/base.html" %}
{% block title %}Example — {{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'project_detail' project.id %}">
        {{ project.name|truncatechars:32 }}
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'example_list' project.id %}">
        Examples
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ example }}</li>
{% endblock breadcrumb%}

{% block header %}
<h1 class="display-6">{{ example }}</h1>
{% endblock header %}

{% block subheader %}
<p class="text-muted">
    <span class="badge rounded-pill bage-bg-{{ example.get_status_display|lower }}">{{ example.get_status_display }}</span>
    &nbsp;Created: {{ example.created_at }}
    • Updated: {{ example.updated_at }}
</p>
<p class="text-muted" style="margin-top: -0.5rem">
    {% if example.issue %}
                <span class="badge rounded-pill bage-bg-{{ example.issue.get_status_display|lower }}">
                {{ example.issue.get_status_display }}
            </span>
    Issue:
    <a href="{% url 'issue_detail' project.id example.issue.id %}">
        {{ example.issue.display_name }}
    </a>
    {% endif %}
</p>
{% endblock subheader %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-xl-8 ps-0">
            <a href="{{ example.media_url }}" target="_blank">
            <img src="{{ example.media_url }}" alt="Broken image :(" class="img-fluid border"/>
            </a>
        </div>
        <div class="col-xl">
            <h5>Events</h5>
            {% if event_list %}
                {% for event in event_list %}
                <p>{{ event.get_event_type_display}}: {{ event.created_at }}</p>
                {% endfor %}
            {% else %}
            None.
            {% endif %}
        </div>
    </div>
</div>
{% endblock main %}