{% extends "mpa/base.html" %}
{% load humanize %}

{% block title %}Example • {{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'project_detail' project.id %}">
        {{ project.name | truncatechars:40 }}
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'issue_list' project.id %}">
        Issues
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'issue_detail' project.id example.issue.id %}">
        {{ example.issue }}
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'issue_detail' project.id example.issue.id %}">
       Examples
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ example }}</li>
{% endblock breadcrumb%}

{% block header %}
<div class="page-header">
    {% if example.issue.name %}
        {{ example.issue.name }}
    {% endif %}
</div>
{% endblock header %}

{% block subheader %}
<div class="text-muted mb-2">
<span class="badge rounded-pill bage-bg-{{ example.issue.get_status_display|lower }}">
        {{ example.issue.get_status_display }}
</span>
    {% with count=example.issue.example_count %}{% if count %}{{ count | intcomma }}{% else %}No{% endif %} example{{ count | pluralize }}{% endwith %}
    • Created {{ example.issue.created_at | naturaltime }}
    • Updated {{ example.issue.updated_at | naturaltime }}
</div>
{% endblock subheader %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col ps-0">
            <a href="{{ example.media_url }}" target="_blank">
                <img src="{{ example.media_url }}" alt="Broken image :(" class="img-fluid border"/>
            </a>
        </div>
        <div class="col">
            {% if tags %}
            <h5>Tags</h5>
            <ul>
            {% for tag in tags %}
                <li><strong>{{ tag.key }}</strong>: {{ tag.value }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if predictions %}
            <h5>Predictions</h5> 
            <pre><code class="language-json">{{ predictions }}</code></pre>
            {% endif %}

            {% if annotations %}
            <h5>Annotations</h5> 
            <pre><code class="language-json">{{ annotations }}</code></pre>
            {% endif %}

            {% if properties %}
            <h5>Properties</h5> 
            <pre><code class="language-json">{{ properties }}</code></pre>
            {% endif %}


        </div>
    </div>
</div>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock main %}