{% extends "mpa/base.html" %}
{% load humanize %}
{% load utils %}

{% block title %}Example • {{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'project_detail' example.project.id %}">
        {{ project.name | truncatechars:40 }}
    </a>
</li>
{% if example.issue %}
<li class="breadcrumb-item">
    <a href="{% url 'issue_list' project.id %}">
        Issues
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'issue_detail' project.id example.issue.id %}">
        {{ example.issue }}
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'issue_detail' project.id example.issue.id %}">
       Examples
    </a>
</li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{{ example.id }}</li>
{% endblock breadcrumb%}

{% block header %}
{% if example.issue %}
<div class="page-header">
    {% if example.issue.name %}
        {{ example.issue.name }}
    {% endif %}
</div>
{% else %}
<div class="page-header">
    Not assigned to an issue
</div>
{% endif %}
{% endblock header %}

{% block subheader %}
{% if example.issue %}
<div class="text-muted mb-2">
<span class="badge bage-bg-{{ example.issue.get_status_display|lower }}">
        {{ example.issue.get_status_display }}
</span>
    First seen {{ example.issue.first_seen | naturaltime }}
    • Last seen {{ example.issue.last_seen | naturaltime }}
</div>
{% endif %}
{% endblock subheader %}

{% block header-buttons %}
    <a href="{% query_string request.GET export='json' %}" target="_blank" class="btn btn-outline-primary ms-2">
        <i class="bi bi-download"></i> Export
    </a>
{% endblock header-buttons %}



{% block main %}
<div>
    <div class="d-flex" style="width: 100%">
        <div style="width: 50%" class="pe-2">
            {% for attachment in attachments %}
            <a href="{{ attachment.url }}" target="_blank">
                <img src="{{ attachment.url }}" alt="Not an image :(" class="img-fluid border mb-3"/>
            </a>
            {% endfor %}
        </div>
        <div style="width: 50%" class="ps-2">
            {% if predictions %}
            <h5>Predictions</h5> 
            <pre><code class="language-json">{{ predictions }}</code></pre>
            {% endif %}

            {% if annotations %}
            <h5>Annotations</h5> 
            <pre><code class="language-json">{{ annotations }}</code></pre>
            {% endif %}

            {% if metadata %}
            <h5>Metadata</h5> 
            <pre><code class="language-json">{{ metadata }}</code></pre>
            {% endif %}

            {% if tags %}
            <h5>Tags</h5>
            <ul>
            {% for tag in tags %}
                <li>{{ tag.key }}: {{ tag.value }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            <h5>Timestamps</h5>
            <ul>
                <li>Timestamp: {{ example.timestamp }}</li>
                <li>Created: {{ example.created_at }}</li>
                <li>Last updated: {{ example.updated_at }}</li>
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock main %}