{% extends "mpa/base.html" %}
{% block title %}{{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{{ project.name|truncatechars:32 }}</li>
{% endblock breadcrumb%}

{% block tabs %}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Examples</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
    </li>
</ul>
{% endblock tabs %}


{% block main %}
<!--
    <form method="get" class="d-flex align-items-baseline justify-content-end" style="gap: 0.5em">
        {{ example_filter.form.as_p }}
        <button type="submit" class="btn btn-sm btn-primary">Filter examples</button>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'example_list' project.id %}">Clear filters</a>
    </form>
-->
    {% if example_filter.qs %}
    <div class="d-flex flex-wrap">
    {% for example in example_filter.qs %}
        {% if project.media_type == 0 %}
            {% include "mpa/example/image_card.html" %}
        {% else %}
        <p>Unsupported media type</p>
        {% endif %}
    {% endfor %}
    </div>
    {% else %}
        <p>No examples found. Change filters or use API to upload examples.</p>
    {% endif %}
{% endblock main %}
