{% extends "mpa/base.html" %}
{% block title %}Example — {{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'project_detail' project.id %}" class="link-dark text-decoration-none">
        {{ project.name|truncatechars:32 }}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ example }}</li>
{% endblock breadcrumb%}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg">
            <!-- TODO: check project.media_type -->
            <img src="{{ example.media_url }}" alt="Broken image :(" class="img-fluid border"/>
        </div>
        <div class="col-lg">
            <p>Id: {{ example.id }}</p>
            <p><a href="{{ example.media_url }}" target="_blank">Open in new tab</a></p>
            <p>Status: <span class="badge rounded-pill bg-secondary">{{ example.get_status_display }}</span></p>
            <p>Created: {{ example.created_at }}</p>
            <p>Updated: {{ example.updated_at }}</p>
        </div>
    </div>
</div>
{% endblock main %}