{% if examples_page %}
<div class="d-flex flex-wrap mb-3">
    {% for example in examples_page %}
    <div class="card m-1" style="height: 200px">
        <a href="{% url 'example_detail' project.id example.id %}" class="stretched-link" style="height:100%">
            <img src="{{ example.attachment_set.first.url }}" class="rounded" style="height: 100%" alt="Broken image :("/>
        </a>
        <div class="card-img-overlay d-flex flex-wrap align-items-end">
            {% for tag in example.tag_set.all %}
            <small>
                <span class="badge bg-info text-dark me-1">
                    {{ tag.value }}
                </span>
            </small>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>
{% include 'mpa/example/pagination.html' with page_obj=examples_page page_range=examples_page_range %}
{% else %}
<p>No examples found. Use API to upload examples.</p>
{% endif %}
