@media screen and (min-width: 992px) {
    .page-container {
        width: 958px;
    }
}

.breadcrumb-item a {
    color: rgb(108, 117, 125);
    text-decoration: none;
}
.breadcrumb-item a:hover {
    text-decoration: underline;
}

.nav {
    border-bottom: 1px solid rgb(222, 226, 230);
}
.nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
}
.nav-link.active {
    color: rgb(33, 37, 41);
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
    border-bottom: 2px solid rgb(33, 37, 41);
    margin-bottom: -1px;
}

.bage-bg-pending { background: #DD5703; }
.bage-bg-skipped { background: #000000; }
.bage-bg-started { background: #215DE8; }
.bage-bg-completed { background: #129504; }
.bage-bg-canceled { background: #BD1498; }
.bage-bg-error { background: #E50400; }

.bage-bg-open { background: #E50400; }
.bage-bg-muted { background: #cccccc; }
.bage-bg-resolved { background: #129504; }
.bage-bg-closed { background: #BD1498; }

