{% extends "mpa/base.html" %}
{% block title %}{{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{{ project.name | truncatechars:32 }}</li>
{% endblock breadcrumb%}

{% block tabs %}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Issues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'example_list' project.id %}">Examples</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'project_dashboard' project.id %}">Insights</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'project_settings' project.id %}">Settings</a>
    </li>
</ul>
{% endblock tabs %}


{% block main %}
<p>Hello, issues</p>
{% endblock main %}

