{% extends "mpa/base.html" %}
{% block title %}Projects{% endblock title %}

{% block tabs %}
<ul class="nav nav-tabs" xmlns="http://www.w3.org/1999/html">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Integrations</a>
    </li>
</ul>
{% endblock tabs %}

{% block main %}
<div class="d-flex mb-3">
    <div class="flex-grow-1">
    <form class="me-3" role="search">
        <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
    </form>
    </div>
    <a href="{% url 'project_create' %}" type="button" class="btn">
        ＋ New project
    </a>
</div>

{% if project_list %}
<ul class="list-group">
    {% for project in project_list %}
    <li class="list-group-item d-flex flex-column list-group-item-action">
        <a href="{% url 'project_detail' project.id %}" class="stretched-link">{{ project.name }}</a>
        <small class="text-muted">{{ project.get_media_type_display }} • Updated {{ project.updated_at|timesince }} ago </small>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>
    No results found.
    <a href="{% url 'project_create' %}">Create new project.</a>
</p>
{% endif %}

{% endblock main %}
