{% extends "mpa/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Settings • {{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item" ><a href="{% url 'project_detail' project.id %}">{{ project.name | truncatechars:40 }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Settings</li>
{% endblock breadcrumb%}

{% block header %}
<div class="page-header">
  {% if project.is_archived %}
    <span class="badge bg-secondary">Archived</span>
  {% endif %}
  {{ project.name }}
</div>
{% endblock header %}

{% block main %}
<div class="container-limited mx-auto">
<div class="row">
    <div class="col-md-2">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link active" href="#">General</a>
        </nav>
    </div>
    <div class="col-md-10 p-2">
        <h5><i class="bi bi-box-arrow-in-down"></i> Integration</h5>
{% if project.is_archived %}
        <p>This project is archived and will not accept new examples.</p>
        {% crispy unarchive_form %}
{% else %}
        <p>To capture an example in this project <code>POST</code> to <code>{{ capture_endpoint }}</code>.</p>
        <p>Examples:
<pre><code class="language-bash">curl -X POST \
  {{ capture_endpoint }} \
  -H "Content-Type: application/json" \
  -d '{"attachments": [{"url": "https://upload.wikimedia.org/wikipedia/commons/9/98/Girl_twirling_Hula_Hoop%2C_1958.jpg", "type": "image"}]}'
</code>
</pre>
        </p>
{% endif %}
        <h5><i class="bi bi-pencil"></i> Project name</h5>
        <div class="mb-4">
        {% crispy rename_form %}
        </div>

{% if not project.is_archived %}
        <h5><i class="bi bi-archive"></i> Archive project</h5>
        <div class="mb-4">
        <p>Archived projects reject new examples. An archived project can be unarchived later if needed.</p>
        {% crispy archive_form %}
        </div>
{% endif %}
    </div>
</div>
</div>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>


{% endblock main %}

