{% extends "mpa/base.html" %}
{% block title %}Settings • {{ project.name }}{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item" ><a href="{% url 'project_detail' project.id %}">{{ project.name | truncatechars:40 }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Settings</li>
{% endblock breadcrumb%}

{% block header %}
<div class="page-header">{{ project.name }}</div>
{% endblock header %}

{% block main %}
<div class="row">
    <div class="col-2">
        <nav lass="navbar flex-column">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link active" href="#">Integration</a>
            </nav>
          </nav>
    </div>
    <div class="col-10 p-2">
        <h5>Integration</h5>
        <p>To capture an example in this project <code>POST</code> to <code>{{ capture_endpoint }}</code>.</p>
        <p>Examples:
<pre><code class="language-bash">curl -X POST \
  {{ capture_endpoint }} \
  -H "Content-Type: application/json" \
  -d '{"attachments": [{"url": "https://upload.wikimedia.org/wikipedia/commons/9/98/Girl_twirling_Hula_Hoop%2C_1958.jpg", "type": "image"}]}'
</code>
</pre>
        </p>
    </div>
</div>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>


{% endblock main %}

